.main-chat__message-list__detail__content
  .main-chat__message-list__detail__content--name
    = message.user.name
  .main-chat__message-list__detail__content--time
    = message.created_at.shiftime("%Y年%m月%d日 %H時%M分")   
.main-chat__message-list__detail--message
  - if message.content.present?
    %p.main-chat__message-list__detail--message__content
      = message.content
  = image_tag message.image.url, class:.main-chat__message-list__detail--message__image if message.image.present?