.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        %p 
          ahondara
      .top-items__icons
        = link_to "#", class: "far fa-edit top-items__icons--edit" do
          = icon('far', 'fa-edit')
          %span<>
        = link_to "#", class:  "fas fa-cog top-items__icons--cog" do
          = icon('fas', 'fa-cog')
  .side-bar__group-list
