.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        %p 
          yoshipon
      .top-items__icons
        = link_to "#", class: "far fa-edit top-items__icons--edit" do
          = icon('far', 'fa-edit')
          %span<>
        = link_to "#", class:  "fas fa-cog top-items__icons--cog" do
          = icon('fas', 'fa-cog')
  .side-bar__group-list
    .side-bar__group-list__group
      .side-bar_group-list__group--name
        %p 
          tech::expert
      .side-bar__group-list__group--message
        %p
          まだメッセージがありません
    .side-bar__group-list__group
      .side-bar_group-list__group--name
        %p 
          tech::camp
      .side-bar__group-list__group--message
        %p
          まだメッセージがありません
    .side-bar__group-list__group
      .side-bar_group-list__group--name
        %p 
          十天衆
      .side-bar__group-list__group--message
        %p
          まだメッセージがありません
      
      