* {
  box-sizing: border-box;
  text-decoration: none;
}

$first-color: #ffffff;
$second-color: #38aef0;
$third-color: #333333;
$fourth-color: #999999;

.wrapper{
  display: flex;
}

.side-bar{
  &__user-name{
    height: 100px;
    width: 300px;
    background-color: #253141;
    display: flex;
    align-items: center;
  }
  &__group-list{
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51;
    align-items: center;
    padding: 20px;
    &__group{
      padding-bottom: 40px;
      &--name{
        font-size: 15px;
        color: $first-color;
      }
      &--message{
        font-size: 11px;
        margin-top: 5px;
        color: $first-color;
      }
    }
  }
}

.main-chat{
  &__group-info{
    height: 100px;
    width: calc(100vw - 300px);
    background-color: $first-color;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__content{
      margin-left: 40px;
      &--name{
        font-size: 20px;
        color: $third-color;
        margin: 35px 0px 15px;
      }
      &--member{
        font-size: 12px;
        color: $fourth-color;
      }
    }
    &__btn{
      display: block;
      height: 40px;
      width: 72px;
      font-size: 16px;
      color: $second-color;
      border: solid 1px $second-color;
      margin: 28px 40px 0px 0px;
      text-decoration: none;
      text-align: center;
      line-height: 40px;
      padding: 0px 20px 0px;
    }
  }
  &__message-list{
    height: calc(100vh - 190px);
    width: calc(100vw - 300px);
    background-color: #fafafa;
    &__detail{
      padding: 35px 0px  0px 40px;
      &__content{
        display: flex;
        &--name{
          font-size: 16px;
          color: $third-color;
          font-weight: bold;
          margin-right: 5px;
        }
        &--time{
          font-size: 12px;
          color: $fourth-color; 
        }
      }
      &--message{
        font-size: 14px;
        color: #434A54;
        margin: 12px 0px 46px 0px;
      }
    }
  }
  &__message-form{
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #d2d2d2;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__input--form{
      height: 50px;
      width: 100%;
      background-color: $first-color;
      align-items: center;
      .new_message{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #d2d2d2;
        .input-form{
          height: 50px;
          width: 100%;
          background-color: $first-color;
          display: flex;
          position: relative;
          align-items: center;
          .input-form--text{
            height: 50px;
            width: 100%;
            padding: 0px 10px;
            border: none;
          }
          .input-form--label{
            position: absolute;
            right: 10px;
            .input-form--image{
              height: 0;
              width: 0;
              padding: 0;
            }
          }
        }
        .form--btn{
          height: 50px;
          width: 72px;
          border:solid 1px $second-color;
          color: $first-color;
          background-color: $second-color;
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }
  }
}

.top-items{
  height: 20px;
  width: 260px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: $first-color;
  &__name{
    font-size: 16px;
    text-align: center;
    line-height: 22px;
  }
  &__icons{
    width: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &--edit{
      text-decoration: none;
      display: block;
      margin-right: 5px;
      color: $first-color;
    }
    &--cog{
      text-decoration: none;
      display: block;
      color: $first-color;
    }
  }
}

.btn{
  text-decoration: none;
}